[submodule "el-get/el-get"]
	path = el-get/el-get
	url = https://github.com/dimitri/el-get.git
[submodule "el-get/git-modes"]
	path = el-get/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "el-get/magit"]
	path = el-get/magit
	url = https://github.com/magit/magit.git
[submodule "elisp/git-modes"]
	path = elisp/git-modes
	url = https://github.com/magit/git-modes
[submodule "elisp/magit"]
	path = elisp/magit
	url = https://github.com/magit/magit
